config/nvim/plugged
config/nvim/autoload/plug.vi
.DS_Store
emacs-mine/.emacs.d/elpa
emacs-mine/.emacs.d/recentf
emacs-mine/.emacs.d/auto-save-list
emacs/.emacs2.d/elpa
emacs/.emacs2.d/recentf
emacs/.emacs2.d/auto-save-list
tmux/tmux.conf.symlink
emacs-mine/.emacs.d/#init.el#
emacs-mine/.emacs.d/.cache/
emacs-mine/.emacs.d/init.el~
emacs-mine/.emacs.d/projectile-bookmarks.eld
emacs-mine/.emacs.d/recentf~
emacs-mine/.emacs.d/transient/
emacs-mine/.emacs.d/history
emacs/.emacs2.d/
fish/.config/fish/fish_history
fish/.config/fish/fish_variables
fish/.config/fish/fishd.985aeb8dba2c
fish/.config/fish/functions/jc.fish
install
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/


